<h2>Каталог товаров</h2>
<h3>Мы предлагаем широкий ассортимент качественных товаров по доступным ценам</h3>

<div class="products-grid">
    <div class="card">
        <div class="card__image">
            <img src="/mirea-angular/v2/assets/images/st.png" alt="Фото клубники" width="200" height="250">
        </div>
        <div class="card__name">Клубника</div>
        <div class="card__price">65 ₽</div>
    </div>

    <div class="card card--discount">
        <div class="card__image">
            <img src="/mirea-angular/v2/assets/images/grapes.png" alt="Фото винограда" width="200" height="250">
        </div>
        <div class="card__name">Виноград</div>
        <div class="card__price">
            <span class="card__price-old">150 ₽</span>
            123 ₽
        </div>
        <div class="card__discount-badge">-18%</div>
    </div>
    
    <div class="card card--selected">
        <div class="card__image">
            <img src="/mirea-angular/v2/assets/images/pen.png" alt="Фото ручки" width="200" height="250">
        </div>
        <div class="card__name">Ручка</div>
        <div class="card__price">250 ₽</div>
    </div>
</div>
