<h2>Каталог товаров</h2>
<h3>Мы предлагаем широкий ассортимент качественных товаров по доступным ценам</h3>
<div class="products-grid">
    <div class="product-card">
        <div class="product-image">
            <img src="/assets/images/st.png" alt="Фото клубники" width="200px" height="250px">
        </div>
        <div class="product-name">
           Клубника
        </div>
        <div class="product-price">
            <p>65 ₽</p>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <img src="/assets/images/grapes.png" alt="Фото виношрада" width="200px" height="250px">
        </div>
        <div class="product-name">
           виноград
        </div>
        <div class="product-price">
            <p>123 ₽</p>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <img src="/assets/images/pen.png" alt="Фото ручки" width="200px" height="250px">
        </div>
        <div class="product-name">
           ручка
        </div>
        <div class="product-price">
            <p>250 ₽</p>
        </div>
    </div>
</div>