<h2>Последние новости</h2>
<div class="news-container">
    <div class="news-card">
        <div class="news-title">
             <p>Запуск новой фичи</p>
        </div>
        <div class="news-meta">
            01.01.2025 12:00 | Автор: Роднов
        </div>
        <div class="news-text">
            <p>Мы рады вам сообщить что чья-то компания раскатила новую фичу с возможностью платить в интернет магазине улыбкой.</p>
        </div>
    </div>

    <div class="news-card">
        <div class="news-title">
             <p>Контрольная</p>
        </div>
        <div class="news-meta">
            01.01.2025 12:00 | Автор: Роднов
        </div>
        <div class="news-text">
            <p>Завтра 09.10.2025 все эфбо ждет контрольная по дискретной математике.</p>
        </div>
    </div>

    <div class="news-card">
        <div class="news-title">
             <p>Погода</p>
        </div>
        <div class="news-meta">
            01.01.2025 12:00 | Автор: Роднов
        </div>
        <div class="news-text">
            <p>Сегодня москву ожидают магнитные бури, которые побили все рекорды.</p>
        </div>
    </div>
</div>
