<h3>Наши контакты</h3>
<div class="contacts-container">
    <div class="contact-info">
        <div>
             <h2>Электронная почта</h2>
        </div>
        <div>
            <p>Aдрес электронной почты:rodnov.@mirea.ru</p>
        </div>
    </div>
    <div class="contact-info">
        <div>
             <h2>Физический адрес</h2>
        </div>
        <div>
            <p>г. Москва ул. Ямского поля д.8</p>
        </div>
    </div>
    <div class="contact-phone">
        <div>
             <h2>Телефон</h2>
        </div>
        <div>
            <p>+7 (943) 183-01-73</p>
        </div>
    </div>
    <button class="contact-button" (click)="openDialog()">Связаться с нами</button>
</div>