<div class="header">
    <p>Хэдер</p>
</div>
<div class="nav"> 
    <ul class="nav-list">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/news']">Новости</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/practices']">Практики</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/products']">Товары</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contacts']">Контакты</a>
        </li>
    </ul>
</div>
