.page-container {
    color: var(--bg-text-color);
    max-width: 1200px;
    margin: 0 auto;
    background: var(--page-bg);
    min-height: 100vh;
    box-shadow: var(--shadow-heavy);
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    
    .main {
        padding: 40px;
        max-width: 900px;
        margin: 0 auto;
        grid-area: main;
        background: transparent;
    }
}