<div class="main">
    <section class="info">
        <p>Информация об авторе</p>
        <img src="" alt="Мое фото" class="pic">
        <p>Роднов Илья Витальевич</p>
        <p>ЭФБО-02-24</p>
    </section>
    <section class="about-me">
        <h2>Обо мне</h2>
        <p>Обо мне: Я родился в Москве в 70-м на краю города. Глупость
            рано ударила в голову. В четыре активно ругался.
            Потом школа, форма, драки, клей. Так я становился сильней.
            Воровал деньги в раздевалке.
        </p>
    </section>
    <section class="skills-container">
        <h2>Мои навыки</h2>
        <div class="skills-grid"> 
        <div class="skill-tag">Навык 1</div>
        <div class="skill-tag">Навык 2</div>
        <div class="skill-tag">Навык 3</div>
        <div class="skill-tag">Навык 4</div>
        </div>
    </section>

    <section class="experience-section">
            <h2 class="section-title">Мой опыт работы</h2>
            <div class="experience-grid"> 
            <article class="experience-card">

            <h3 class="experience-title">Опыт 1</h3>
                <p class="experience-desc">Работал фантазёром. Сочинял и праздновал.</p>
            </article>
            <article class="experience-card">
                <h3 class="experience-title">Опыт 2</h3>
                <p class="experience-desc">Работал воровством. Воровал
                и продавал.</p>
            </article>
            <article class="experience-card">
                <h3 class="experience-title">Опыт 3</h3>
                <p class="experience-desc">Работал рэпером. Читал и
                пел.</p>
            </article>
         </div>
     </section>
</div>
