<div class="page">
    <section class="author">
        <p class="author__caption">Информация об авторе</p>
        <img class="author__photo" src="/assets/images/photo.jpg" alt="Фото меня" width="200px" height="250px">
        <p class="author__name">Роднов Илья Витальевич</p>
        <p class="author__group">ЭФБО-02-24</p>
    </section>
    
    <section class="about">
        <h2 class="about__title">Обо мне</h2>
        <p class="about__text">Обо мне: Живу в раменском, хожу на пары, мне 19.</p>
    </section>
    
    <section class="skills">
        <h2 class="skills__title">Мои навыки</h2>
        <div class="skills__grid"> 
            <div class="skill-tag">Angular</div>
            <div class="skill-tag">TS</div>
            <div class="skill-tag">SCSS</div>
            <div class="skill-tag">RXJS</div>
        </div>
    </section>

    <section class="experience">
        <h2 class="experience__title">Мой опыт работы</h2>
        <div class="experience__grid"> 
            <article class="card card--work">
                <h3 class="card__title">Работа</h3>
                <p class="card__description">Работал в Т-Банк js Angular Dev, писал компоненты, резолверы, гварды, тесты, фиксил баги</p>
            </article>
            <article class="card card--project">
                <h3 class="card__title">Пет-проект</h3>
                <p class="card__description">Писал курсач на c++</p>
            </article>
            <article class="card card--internship">
                <h3 class="card__title">Стаж</h3>
                <p class="card__description">Занимаюсь ангуляром 1,5 года</p>
            </article>
        </div>
    </section>
</div>